.screen-loader {
  background: #f1f1f3;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  padding: 0;
}

.screen-loader.hide-loader {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 250ms, opacity 250ms;
}

.screen-loader--text {
  color: rgb(46, 41, 66);
  width: 100%;
  font-weight: bold;
  font-family: Helvetica Neue;
  font-size: 43.8537px;
  line-height: 53.6682px;
  text-align: center;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  left: 0;
}

.screen-loader--loading {
  background: rgb(46, 41, 66);
  width: 13px;
  border-radius: 5px;
  height: 10px;
  border-radius: 5px;
  height: 7px;
  margin-top: 1em;
  left: 50%;
  top: 53%;
  position: absolute;
  transform: translateX(-50%);
  animation: loaderAnimate 1s infinite, opacityBlink 1s infinite;
  max-width: 200px;
}

@keyframes opacityBlink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loaderAnimate {
  0% {
    width: 13px;
  }
  100% {
    width: 200px;
  }
}
